@model List<ProjectManagementSystem.DBModels.NotificationViewModel>

<ul class="list-group">
    @foreach (var n in Model)
    {
        <li class="list-group-item @(n.IsRead==false ? "unread" : "")">
            <a href="@Url.Action("Details","ProjectApproval", new { id = n.ProjectId })">
                @n.Message
            </a>
            <small>@n.CreatedAt.ToString("MMM dd, yyyy HH:mm")</small>
        </li>
    }
</ul>
